<template>
	<p v-if="packs.length == 0">Loading...</p>
	<div
		v-for="pack in packs"
		class="pack"
	>
		<img class="pack_icon" role="none" :src="pack.raw_url.replace('$$', 'pack.png')" alt="icon">
		<div>
			<h2>{{ titleize(pack.name) }}</h2>
			<p>
				{{ pack.description }}
				<br>
				<small>Supports: Minecraft {{ pack.supports.join(", ") }}</small>
			</p>
			<div class="buttons">
				<a v-if="pack.types.includes('resourcepack')" :href="pack.download_url.replace('$$', 'resourcepack')">
					<Icon icon="ic:baseline-download" width="22" height="22" />
					Resource Pack
				</a>
				<a v-if="pack.types.includes('datapack')" :href="pack.download_url.replace('$$', 'datapack')">
					<Icon icon="ic:baseline-download" width="22" height="22" />
					Data Pack
				</a>
				<a :href="pack.html_url" target="_blank">
					<Icon icon="ic:launch" width="22" height="22" />
					Source Code
				</a>
			</div>
		</div>
	</div>
</template>

<script setup lang="ts">
import { onMounted, ref } from "vue";
import { PackInfo, fetchPacks, titleize } from '../data/packs';
import { Icon } from '@iconify/vue';

const packs = ref<PackInfo[]>([]);

onMounted(async () => {
	packs.value = await fetchPacks();
});
</script>

<style scoped>
.pack {
	display: flex;
	align-items: top;
	gap: 12px;

	padding: 24px;
	margin: 24px 0;

	background-color: var(--vp-c-bg-soft);
	border: 1px solid var(--vp-c-divider);
	border-radius: 12px;

	transition: border .25s;
}

.pack:hover {
	border: 1px solid var(--vp-c-brand-1);
}

.pack_icon {
	width: 48px;
	height: 48px;
	image-rendering: pixelated;
}

.pack h2 {
	margin: 0;
	border: none;
	padding: 0;
	min-height: 48px;
    display: flex;
    align-items: center;

	font-size: 1rem;
}

.pack p {
	margin: 0;
	margin-bottom: 12px;
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 18px;
}

.buttons a {
	display: inline-flex;
	align-items: center;
	gap: 6px;
	text-decoration: none;
	color: var(--vp-button-alt-text);
	opacity: 0.6;
}

.buttons a:hover {
	color: var(--vp-button-alt-hover-text);
	opacity: 0.9;
}

.buttons a:active {
	color: var(--vp-button-alt-active-text);
	opacity: 1;
}
</style>
