:root {
	--vp-c-brand-1: hsl(18, 90%, 20%);
	--vp-c-brand-2: hsl(15, 90%, 15%);
	--vp-c-brand-3: hsl(13, 90%, 10%);
}

html.dark {
	--vp-c-brand-1: hsl(13, 90%, 65%);
	--vp-c-brand-2: hsl(15, 90%, 75%);
	--vp-c-brand-3: hsl(18, 90%, 80%);
	--vp-button-brand-text: var(--vp-c-bg);
    --vp-button-brand-hover-text: var(--vp-c-bg-elv);
    --vp-button-brand-active-text: var(--vp-c-bg-elv);
}

:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, var(--vp-c-brand-1) 30%, var(--vp-c-brand-3));
}

.VPHero .VPImage {
	filter: drop-shadow(0px 0px 72px var(--vp-c-brand-1));
}

a.title:hover {
	opacity: 0.6;
}
